<!doctype html>
<html>
<head>
    <title>Interior design</title>
	{% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
          </head>
    
    <body>
        <div class="aside"><h2 class="heading2">Home Interocity</h2>
            <ul>
              <li><a href="/myapp">Home</a></li>
              <li><a href="service">Services</a></li>
              <li><a href="designer">Designers</a></li>
			  <li><a href="package">Packages</a></li>
              <li><a href="contact">Contacts</a></li>
			  <li><a href="login">Login</a></li>
			  <li><a href="register">Register</a></li>
              <li><a href="signup">Signup</a></li>
            
            </ul>
        </div>
        <h1 class="heading1">Interior Design
            <h3 class="br1">Home</h3></h1>
        <div id="div1"></div>
        <figure id="figure1">
        
        <img class="img1" src="{% static 'images/interior.jpg' %}"/>
            <img class="img2" src="{% static 'images/interior3.jpg' %}"/>
            <img class="img3" src="{% static 'images/interior2.jpg' %}"/>
            <img class="img4" src="{% static 'images/interior5.jpg' %}"/>
            <img class="img5" src="{% static 'images/interior4.jpg' %}"/>
        
        
        </figure>
        
        
        
        
        
    </body>
</html>